.heading {
  font-size: calc(10px + 5vmin);
  text-align: center;
}

.giver-section {
  width: 50vh;
  padding: 0vh 3vh;
}

.receiver-section {
  width: 65vh;
  padding: 0vh 3vh;
}

.yammer-message {
  width: 65vh;
  align-items: center;
}

.image-117 {
  border-radius: 18px
}

.ms-Button-label {
  font-size: 24px;
  padding: 10px;
}

.submit-button {
  padding: 5vh 3vh 15vh 3vh;
}

/**********************************/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}